@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofiapro-light.eot");
  src: url("../fonts/sofiapro-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sofiapro-light.woff2") format("woff2"),
    url("../fonts/sofiapro-light.woff") format("woff"),
    url("../fonts/sofiapro-light.ttf") format("truetype"),
    url("../fonts/sofiapro-light.svg#Sofia Pro") format("svg");
}

:root {
  --main-color: #51459e;
  --text-color: #505887;
  --second-font: "Sofia Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-3 {
  margin-top: 3rem;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: #fff;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      color: var(--main-color);
    }
  }

  ul {
    list-style: none;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }

  //   ====================Header===============
  header {
    border-bottom: 2px solid #f6f6f6;
  }

  .navigation {
    display: grid;
    grid-template-columns: 16% 60% 20%;
    gap: 2.5%;
    padding: 20px;
    @media screen and (max-width: 1140px) {
      position: fixed;
      width: 100%;
      background: #fff;
      z-index: 99;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: 1px 8px 20px 0px #59595917;
    }
    @media screen and (max-width: 992px) {
      grid-template-columns: 25% 45% 25%;
    }
    @media screen and (max-width: 768px) {
      padding: 10px;
      grid-template-columns: 34% 45% 16%;
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr 1fr;
    }

    .logo-area {
      display: flex;
      align-items: center;
      gap: 10px;

      .left-toggle {
        display: none;
        cursor: pointer;
        img {
          width: 20px;
        }

        @media screen and (max-width: 1140px) {
          display: block;
        }
      }
    }

    .search-filter {
      display: grid;
      grid-template-columns: 60% 30%;
      gap: 30px;
      align-items: center;
      @media screen and (max-width: 992px) {
        grid-template-columns: 100%;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }

      .search-bar {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        outline: none;

        form {
          display: flex;
          gap: 10px;
        }

        .search-input {
          border: none;
          outline: none;
          width: 100%;
          font-size: 15px;
          color: #7c8db5;
        }
      }
      .filter {
        @media screen and (max-width: 992px) {
          display: none;
        }
        .filter-input {
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          padding: 12px;
          outline: none;

          select {
            width: 100%;
            border: none;
            outline: none;
            font-size: 15px;
            color: #7c8db5;
          }
        }
      }
    }

    .notic-profile {
      display: flex;
      align-items: center;
      gap: 20px;
      @media screen and (max-width: 1140px) {
        gap: 10px;
        justify-content: end;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 10px;

        .name-eimail {
          @media screen and (max-width: 1140px) {
            display: none;
          }
          a {
            font-size: 16px;
            font-weight: 700;
            color: var(--main-color);
          }

          p {
            color: #7c8db5;
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }

  //   ===============main================
  .body-grid {
    display: grid;
    grid-template-columns: 16% 55% 25%;
    gap: 2.5%;
    padding-bottom: 30px;
    font-family: var(--second-font);
    @media screen and (max-width: 1140px) {
      grid-template-columns: 70% 27%;
      margin-top: 75px;
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
    .left-sidebar {
      padding: 30px;
      border-right: 2px solid #f6f6f6;
      transition: 0.3s;
      padding-left: 10px;
      @media screen and (max-width: 1200px) {
        padding: 30px 0;
      }
      @media screen and (max-width: 1140px) {
        position: fixed;
        width: 250px;
        top: 85px;
        bottom: 0;
        left: -100%;
        background: #fff;
        z-index: 2;

        &.active {
          left: 0;
        }
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        li {
          a {
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            color: #7987a5;
            transition: 0.3s;

            p {
              transition: 0.3s;
            }

            &:hover {
              color: #1c295d;

              .icon {
                background: #1c295d;
                box-shadow: 0px 10px 20px 0px rgba(88, 92, 229, 0.25);

                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }

            &.active {
              color: #1c295d;
              font-weight: 600;

              .icon {
                background: #1c295d;
                box-shadow: 0px 10px 20px 0px rgba(88, 92, 229, 0.25);

                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }

            .icon {
              width: 50px;
              height: 50px;
              margin: auto;
              background: #eceff7;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              margin-bottom: 10px;
              transition: 0.3s;
            }
          }
        }
      }

      .storage-area {
        margin-top: 50px;

        h4 {
          font-family: DM Sans;
          font-size: 16px;
          font-weight: 700;
        }

        p {
          font-family: DM Sans;
          font-size: 13px;
          font-weight: 500;
          margin: 10px 0;
        }

        .progress {
          height: 8px;
          background: #eceff7;
          border-radius: 10px;

          .bar {
            height: 100%;
            background: #ff1087;
            border-radius: 10px;
          }
        }
      }

      .more-space {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        a {
          background: #51459e;
          color: #fff;
          padding: 14px 35px;
          font-family: var(--second-font);
          font-size: 11.537px;
          font-style: normal;
          font-weight: 400;
          line-height: 16.481px;
          border-radius: 34px;
          text-align: center;
          width: 100%;
        }
      }
    }

    .main-content {
      padding-top: 30px;

      .storage-card-area {
        display: flex;
        align-items: center;
        gap: 25px;
        overflow-x: scroll;
        padding-bottom: 90px;

        &::-webkit-scrollbar {
          height: 0px;
        }

        @media screen and (max-width: 992px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          display: grid;
        }
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 450px) {
          grid-template-columns: 1fr;
        }

        .card-storage {
          padding: 20px;
          min-width: 200px;
          border-radius: 10px;
          @media screen and (max-width: 992px) {
            min-width: 100%;
          }

          .card-inner {
            h4 {
              font-size: 18px;
              font-weight: 400;
              color: #505887;
              margin-top: 21px;
              margin-bottom: 13px;
              @media screen and (max-width: 900px) {
                margin-top: 5px;
              }
            }

            .file-toggle {
              display: flex;
              justify-content: space-between;

              .toggle {
                cursor: pointer;
              }
            }

            .name-size {
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-size: 12px;
                color: #718ebf;
                font-weight: 400;
              }
            }
          }
        }
      }

      .quick-access {
        margin-top: -30px;

        .section-title {
          font-size: 19px;
          font-weight: 700;
          color: #505887;
          margin-bottom: 20px;
        }

        .grid-3 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
          }

          @media screen and (max-width: 450px) {
            grid-template-columns: 1fr;
          }

          .access-card {
            border-radius: 15px;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
            }

            .file-name-type {
              display: flex;
              align-items: center;
              gap: 10px;
              position: absolute;
              background: #f5f5f5;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 17px;

              p {
                font-size: 13px;
                font-weight: 700;

                span {
                  font-size: 12px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }

      .recent-file {
        margin-top: 60px;

        .grid-2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;

          @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
          }

          .section-title {
            font-size: 19px;
            font-weight: 700;
            color: #505887;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .recent-upload {
            font-family: var(--second-font);

            ul {
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 17px;

                .left-element {
                  display: flex;
                  gap: 10px;

                  .name-date {
                    display: flex;
                    align-items: center;

                    h3 {
                      font-size: 13px;
                      font-weight: 400;
                      color: #505887;
                    }

                    p {
                      font-size: 10px;
                      font-weight: 400;
                      color: #718ebf;
                    }
                  }
                }

                .size {
                  p {
                    font-size: 10px;
                    font-weight: 400;
                    color: #718ebf;
                  }
                }
              }
            }
          }

          .file-manager {
            font-family: var(--second-font);
            padding-left: 50px;
            @media screen and (max-width: 768px) {
              padding-left: 0;
            }

            .file-manager-wrapper {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 30px;

              .file-card {
                border-radius: 8.994px;
                background: #ebedfb;
                padding: 16px;

                h3 {
                  color: #000;
                  font-size: 12.592px;
                  font-weight: 400;
                  margin-top: 10px;
                  margin-bottom: 5px;
                }

                p {
                  font-size: 8.994px;
                  font-weight: 400;
                }
              }
            }

            .open-btn {
              display: block;
              margin-top: 20px;

              a {
                border-radius: 5px;
                background: var(--pallet-1-grey, #dee1e6);
                width: 100%;
                padding: 10px;
                font-size: 14px;
                font-weight: 400;
                display: block;
                text-align: center;
                transition: 0.3s;

                &:hover {
                  background: #51459e;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .right-sidebar {
    padding: 30px 0;

    .section-title {
      font-size: 19px;
      font-weight: 700;
      color: #25396f;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .chart-area {
      margin-bottom: 60px;
      img {
        width: 100%;
      }
    }
    .recent-upload {
      font-family: var(--second-font);

      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 17px;

          .left-element {
            display: flex;
            gap: 10px;

            .name-date {
              display: flex;
              align-items: center;

              h3 {
                font-size: 13px;
                font-weight: 400;
                color: #505887;
              }

              p {
                font-size: 10px;
                font-weight: 400;
                color: #718ebf;
              }
            }
          }

          .size {
            p {
              font-size: 10px;
              font-weight: 400;
              color: #718ebf;
            }
          }
        }
      }
    }

    .invite-area {
      margin-top: 100px;
      @media screen and (max-width: 992px) {
        margin-top: 50px;
      }
      .invite-dev {
        position: relative;
        height: 125px;
        width: 100%;
        border-radius: 10px;
        border: 1px dashed #d0c9ff;
        background: #f6f4ff;

        .invite-content {
          position: absolute;
          top: -35px;
          left: -35px;
          width: 100%;
          background-image: url(../img/invite-bg.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
          display: grid;
          align-items: center;
          border-radius: 10px;
          padding: 20px;

          @media screen and (max-width: 992px) {
            top: -10px;
            left: -10px;
            width: 100%;
          }
          .inner-content {
            width: 60%;
            z-index: 1;
            p {
              font-size: 16px;
              font-weight: 400;
              color: #fff;
            }
            a {
              border-radius: 5px;
              background: var(--pallet-1-secondary, #84e8f4);
              padding: 5px 13px;
              display: inline-block;
              margin-top: 10px;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
